{% extends 'base.html' %}
{% block title %} Teachers per course {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for teacher in get_all_teachers %}
            <div class="card" style="width: 18rem; margin-right: 20px">
                <img src="..." class="card-img-top" alt="a photo" width="100px">
                <div class="card-body" style = "height: 200px">
                    <h4 class="card-text"> {{ teacher.first_name }} {{ teacher.last_name }} </h4>
                    <a> Specialization: {{ teacher.specialization }}</a> <br>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
