{% extends 'base.html' %}
{% block title %} Delete Student {% endblock %}
{% block content %}
    <p> Are you sure that you want to delete {{ student.first_name }} {{ student.last_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="{% url 'list-of-students' %}" class="btn btn-default">No</a>
        </form>
{% endblock %}