{% extends 'base.html' %}
{% block title %} List of students {% endblock %}
{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th> Nr. crt. </th>
            <th> First name </th>
            <th> Last name </th>
            <th> Age </th>
            <th> Birth date </th>
            <th> Teacher </th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
        {% for student in all_students %}
            <tr>
                <td> {{ student.id}} </td>
                <td> {{ student.first_name }} </td>
                <td> {{ student.last_name }} </td>
                <td> {{ student.age }} </td>
                <td> {{ student.date_of_birth}} </td>
                <td> {{ student.teacher.first_name }} {{ student.teacher.last_name }}</td>
                <td>
                    {% if perms.student.change_student %}
                    <a href="{% url 'update-student' student.id %}" class="btn btn-success">Update</a>
                    {% endif %}
                    {% if perms.student.delete_student %}
                    <a href="{% url 'delete-student' student.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% if perms.student.detail_student %}
                    <a href="{% url 'detail-student' student.id %}" class="btn btn-warning">More Details</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

