{% extends "base.html" %}
{% block title %} List_of_cars {% endblock %}

{% block content %}
<h1> list_of_cars </h1>
{% for car in cars %}
    <p> The name of the car is: {{ car.name }}</p>
    <p> of model: {{ car.model }}</p>
    <p> The car was produced in the year: {{ car.year_of_fabrication }}</p>
    <p> .......................... </p>
{%  endfor %}
    <a href = "{%  url 'List_of_students' %}" class="btn btn-primary" > Go to students </a>
{% endblock %}
