{% extends 'base.html' %}
{% block title %} List_of_students {% endblock %}

{% block content %}
<h1> List of students </h1>
{% for student in all_students %}
    {% if student.age >= 38 %}
    <p> {{ student.first_name }} </p>
    <p> {{ student.last_name }} </p>
    <p> {{ student.age }} </p>
    {% endif %}
{% endfor %}
    <a href = "{%  url 'list_of_cars' %}" class="btn btn-primary" > Go to cars </a>
{% endblock %}