{% extends 'base.html' %}

{% block title %} Reset password {% endblock %}
{%  block content %}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit" class="btn btn-primary"> Reset password </button>
     </form>
{% endblock %}
