{% extends 'base.html' %}
{% block title %} Delete Teacher {% endblock %}
{% block content %}
    <p> Are you sure that you want to delete {{ teacher.first_name }} {{ teacher.last_name }}? </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="{% url 'list-of-teachers' %}" class="btn btn-default">No</a>
        </form>
{% endblock %}