{% extends 'base.html' %}
{% block title %} More Information {% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Created at {{ teacher.created_at }}
        </div>
             {% if perms.teacher.change_teacher %}
        <div class="card-body">
            <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }}</h5>
            <p class="card-text">Specialization: {{ teacher.specialization }}</p>
            <a href="{% url 'list-of-teachers' %}" class="btn btn-primary btn-sm">Go to list of teachers</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
          Updated at {{ teacher.updated_at }}
        </div>
    </div>
{% endblock %}
