{% extends 'base.html' %}
{% block title %} List of teachers {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for teacher in all_teachers %}
            <div class="card" style="width: 18rem; margin-right: 20px">
                <img src="#" class="card-img-top" alt="a photo" width="100px">
                <div class="card-body" style = "height: 200px">
                    <h4 class="card-text"> {{ teacher.first_name }} {{ teacher.last_name }} </h4>
                    <a> Specialization: {{ teacher.specialization }}</a> <br>
                </div>
                <div class="card-footer">
                    {% if perms.teacher.change_teacher %}
                    <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-primary"> Update </a>
                    {% endif %}
                    {% if perms.teacher.delete_teacher %}
                    <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger"> Delete </a>
                    {% endif %}
                    {% if perms.teacher.detail_teacher %}
                    <a href="{% url 'detail-teacher' teacher.id %}" class="btn btn-warning" >More Details</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
